src/config/xsd/config_handlers.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="configurations" type="configurations" />
  <xs:complexType name="configurations">
    <xs:sequence>
      <xs:element name="configuration" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="handlers" type="handlers" />
          </xs:sequence>
          <xs:attribute name="environment" type="xs:string" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="parent" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="handlers">
    <xs:sequence>
      <xs:element name="handler" type="handler" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="handler">
    <xs:attribute name="pattern" type="xs:string" use="required" />
    <xs:attribute name="class" type="xs:string" use="required" />
    <xs:attribute name="validate" type="xs:string" />
  </xs:complexType>
</xs:schema>