src/config/xsd/default_tags.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="parameters">
    <xs:sequence>
      <xs:element name="parameter" maxOccurs="unbounded">
        <xs:complexType mixed="true">
          <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="parameters" type="innerParameters" minOccurs="0" />
          </xs:sequence>
          <xs:attribute name="name" type="xs:string" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="innerParameters">
    <xs:sequence>
      <xs:element name="parameter" maxOccurs="unbounded">
        <xs:complexType mixed="true">
          <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="parameters" type="innerParameters" minOccurs="0" />
          </xs:sequence>
          <xs:attribute name="name" type="xs:string" use="optional" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>