src/config/xsd/factories.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="configurations" type="configurations" />
  <xs:complexType name="configurations">
    <xs:sequence>
      <xs:element name="configuration" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
		    <xs:all>
		      <xs:element name="action_stack">
		        <xs:complexType>
		          <xs:sequence>
		            <xs:element name="parameters" type="parameters" minOccurs="0" />
		          </xs:sequence>
		          <xs:attribute name="class" type="xs:string" use="required" />
		        </xs:complexType>
		      </xs:element>
		      <xs:element name="controller">
		        <xs:complexType>
		          <xs:sequence>
		            <xs:element name="parameters" type="parameters" minOccurs="0" />
		          </xs:sequence>
		          <xs:attribute name="class" type="xs:string" use="required" />
		        </xs:complexType>
		      </xs:element>
		      <xs:element name="database_manager" minOccurs="0">
		        <xs:complexType>
		          <xs:sequence>
		            <xs:element name="parameters" type="parameters" minOccurs="0" />
		          </xs:sequence>
		          <xs:attribute name="class" type="xs:string" use="required" />
		        </xs:complexType>
		      </xs:element>
		      <xs:element name="dispatch_filter">
		        <xs:complexType>
		          <xs:sequence>
		            <xs:element name="parameters" type="parameters" minOccurs="0" />
		          </xs:sequence>
		          <xs:attribute name="class" type="xs:string" use="required" />
		        </xs:complexType>
		      </xs:element>
		      <xs:element name="execution_filter">
		        <xs:complexType>
		          <xs:sequence>
		            <xs:element name="parameters" type="parameters" minOccurs="0" />
		          </xs:sequence>
		          <xs:attribute name="class" type="xs:string" use="required" />
		        </xs:complexType>
		      </xs:element>
		      <xs:element name="filter_chain">
		        <xs:complexType>
		          <xs:sequence>
		            <xs:element name="parameters" type="parameters" minOccurs="0" />
		          </xs:sequence>
		          <xs:attribute name="class" type="xs:string" use="required" />
		        </xs:complexType>
		      </xs:element>
		      <xs:element name="logger_manager" minOccurs="0">
		        <xs:complexType>
		          <xs:sequence>
		            <xs:element name="parameters" type="parameters" minOccurs="0" />
		          </xs:sequence>
		          <xs:attribute name="class" type="xs:string" use="required" />
		        </xs:complexType>
		      </xs:element>
		      <xs:element name="request">
		        <xs:complexType>
		          <xs:sequence>
		            <xs:element name="parameters" type="parameters" minOccurs="0" />
		          </xs:sequence>
		          <xs:attribute name="class" type="xs:string" use="required" />
		        </xs:complexType>
		      </xs:element>
		      <xs:element name="response">
		        <xs:complexType>
		          <xs:sequence>
		            <xs:element name="parameters" type="parameters" minOccurs="0" />
		          </xs:sequence>
		          <xs:attribute name="class" type="xs:string" use="required" />
		        </xs:complexType>
		      </xs:element>
		      <xs:element name="routing">
		        <xs:complexType>
		          <xs:sequence>
		            <xs:element name="parameters" type="parameters" minOccurs="0" />
		          </xs:sequence>
		          <xs:attribute name="class" type="xs:string" use="required" />
		        </xs:complexType>
		      </xs:element>
		      <xs:element name="security_filter" minOccurs="0">
		        <xs:complexType>
		          <xs:sequence>
		            <xs:element name="parameters" type="parameters" minOccurs="0" />
		          </xs:sequence>
		          <xs:attribute name="class" type="xs:string" use="required" />
		        </xs:complexType>
		      </xs:element>
		      <xs:element name="storage">
		        <xs:complexType>
		          <xs:sequence>
		            <xs:element name="parameters" type="parameters" minOccurs="0" />
		          </xs:sequence>
		          <xs:attribute name="class" type="xs:string" use="required" />
		        </xs:complexType>
		      </xs:element>
		      <xs:element name="user" minOccurs="0">
		        <xs:complexType>
		          <xs:sequence>
		            <xs:element name="parameters" type="parameters" minOccurs="0" />
		          </xs:sequence>
		          <xs:attribute name="class" type="xs:string" use="required" />
		        </xs:complexType>
		      </xs:element>
		      <xs:element name="validator_manager">
		        <xs:complexType>
		          <xs:sequence>
		            <xs:element name="parameters" type="parameters" minOccurs="0" />
		          </xs:sequence>
		          <xs:attribute name="class" type="xs:string" use="required" />
		        </xs:complexType>
		      </xs:element>
		    </xs:all>
          <xs:attribute name="environment" type="xs:string" />
          <xs:attribute name="context" type="xs:string" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="parent" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="parameters">
    <xs:sequence>
      <xs:element name="parameter" maxOccurs="unbounded">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="name" type="xs:string" use="required" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>