src/config/xsd/filters.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="configurations" type="configurations" />
  <xs:complexType name="configurations">
    <xs:sequence>
      <xs:element name="configuration" type="configuration" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="parent" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="configuration">
    <xs:sequence>
      <xs:element name="filters" type="filters" />
    </xs:sequence>
    <xs:attribute name="environment" type="xs:string" />
    <xs:attribute name="context" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="filters">
    <xs:sequence>
      <xs:element name="filter" type="filter" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="filter">
    <xs:sequence>
      <xs:element name="parameters" type="parameters" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="class" type="xs:string" />
    <xs:attribute name="enabled" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="parameters">
    <xs:sequence>
      <xs:element name="parameter" type="parameter" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="parameter">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>