src/config/xsd/validators.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="configurations" type="configurations" />
  <xs:complexType name="configurations">
    <xs:sequence>
      <xs:element name="configuration" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="validators" minOccurs="0" type="validators" />
            <xs:element name="defaults"  minOccurs="0" type="defaults" />
          </xs:sequence>
          <xs:attribute name="environment" type="xs:string" />
          <xs:attribute name="context" type="xs:string" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="parent" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="validators">
    <xs:sequence>
      <xs:element name="validator" type="validator" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="validator">
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="class" type="xs:string" use="required" />
  </xs:complexType>

  <xs:complexType name="defaults">
    <xs:sequence>
      <xs:element name="default" type="default" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="default">
    <xs:sequence>
      <xs:element name="parameters" type="parameters" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required" />
  </xs:complexType>

  <xs:complexType name="parameters">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="parameter">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="name" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>